
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <form method="post" action="~/Dict/AddSave">
            <label>Surname</label>
            <br />
            <input type="text" name="surname" id="surname" placeholder="surname" />
            <br />
            <label>Phone Number</label>
            <br />
            <input type="tel" name="phoneNumber" id="phoneNumber" placeholder="+375xxxxxxxxx | 80xxxxxxxxx" />
            <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
